<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redis chat amiriar | login</title>
</head>
<body>
    <form action="/chat">
        <input type="text" name="username" id="username">
        <br/>
        <br/>
        <button type="submit">Login</button>
    </form>
</body>
</html>